# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env_dir/

# Environment variables
.env

# Data
data/
*.json
*.jsonl
chroma_data/

# Logs and databases
*.log
*.sqlite
/db.sqlite3

# Celery
celerybeat-schedule
*.pid

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
